/* Ширина */
.col-width-5 {
  width: 5rem;
}

.button-add {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.hide-element {
  display: none;
}

/* Модальное окно */
.modal-base {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  width: 100vw;
}
