{% extends 'base.html' %} {% block head %}
<meta http-equiv="X-UA-Compatible" content="IE=7" />
<meta name="description" content="EVALAM rolls inventory" />
{% endblock %} {% block title %}On stock {% endblock %} {% block content %}
<table class="table table-striped caption-top">
  <caption>
    On stock
  </caption>
  <thead>
    <tr>
      <th scope="col">Stock</th>
      <th scope="col">Date</th>
      <th scope="col">Width</th>
      <th scope="col">Pallet</th>
      <th scope="col">Lot</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">FEU014/25</th>
      <td>03.03.2025</td>
      <td>1300</td>
      <td>05043</td>
      <td>0101</td>
    </tr>
    <tr>
      <th scope="row">FEU032/25</th>
      <td>16.05.2025</td>
      <td>1800</td>
      <td>05066</td>
      <td>0222</td>
    </tr>
    <tr>
      <th scope="row">FEU045/25</th>
      <td>26.07.2025</td>
      <td>2200</td>
      <td>05054</td>
      <td>0104</td>
    </tr>
  </tbody>
</table>
{% endblock %}
