{% extends 'base.html' %} {% block head %}
<meta http-equiv="X-UA-Compatible" content="IE=7" />
<meta name="description" content="User login" />
{% endblock %} {% block title %}Login{% endblock %} {% block script %}
<script defer src="{{ url_for('static', path='js/login.js') }}"></script>
{%endblock %} {% block content %}
<form method="post" class="w-50 mx-auto mt-5" id="loginForm">
  <h1 class="text-center">Login</h1>
  <div class="alert alert-danger hide-element" role="alert"></div>
  <div class="mb-3">
    <label for="usernameField" class="form-label">User name</label>
    <input
      type="text"
      name="username"
      class="form-control"
      id="usernameField"
      aria-describedby="usernameHelp"
    />
  </div>
  <div class="mb-3">
    <label for="passwordField" class="form-label">Password</label>
    <input
      type="password"
      name="password"
      class="form-control"
      id="passwordField"
    />
  </div>
  <button type="submit" class="btn btn-primary" name="submit" id="submit">
    Submit
  </button>
</form>
{%endblock %}
