{% extends 'base.html' %} {% block head %}
<meta http-equiv="X-UA-Compatible" content="IE=7" />
<meta name="description" content="Stocks" />
{% endblock %} {% block title %}Categories {% endblock %}{% block script %}
<!-- <script defer src="{{ url_for('static', path='js/main.js') }}"></script> -->
{%endblock %} {% block content %}
<h1 class="d-flex">Refs on stock</h1>
<table class="table table-striped caption-top" id="stocks">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Reference</th>
      <th scope="col">Date</th>
      <th scope="col">Consignor</th>
      <th scope="col">Note</th>
      <th scope="col" class="col-width-5">&nbsp;</th>
    </tr>
    {% for stock in stocks %}
    <tr>
      <td>{{ stock.id }}</td>
      <td>{{ stock.reference }}</td>
      <td>{{ stock.date.strftime('%d.%m.%Y') }}</td>
      <td>{{ stock.consignor }}</td>
      <td>{{ stock.note}}</td>
      <td>
        <img
          data-item-id="{{ stock.id }}"
          data-item-action="edit"
          class="me-3 edit-button"
          src="{{ url_for('static', path='/images/edit.svg') }}"
          alt="Edit row"
        />
        <img
          data-item-id="{{ stock.id }}"
          data-item-action="delete"
          class="delete-button"
          src="{{ url_for('static', path='/images/trash.svg') }}"
          alt="Delete row"
        />
      </td>
    </tr>
    {% endfor %}
  </thead>
</table>
{% endblock %}
